# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode
.gitignore

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
src/styles/css/styles.css.map
src/styles/.sass-cache/d4803c550eacc42d45681617cdada8ef9f01a000/styles.scssc
src/styles/.sass-cache/82ed079f7bf1472d94ac34a0c6640ca1e27fd9e7/styles.scssc
